body {
    font-family: arial, serif;
    margin:0;
    padding:0;
}
#holder {
    border: 2px dashed #ccc;
    width: 125px;
    height: 25px;
    margin: 0 auto;
    overflow:hidden;
    position:absolute;
    top:10px;
    left:45%;
    z-index:10;
}

#holder.hover {
    border: 2px dashed #333;
}

#holder p#status {
    color: #666;
    text-align: center;
    padding-top: 10px;
}

#opacity { display:block-inline; }

#minMax { display:block-inline; padding-left:10px;}
#minMax input { display:block; }

#map { 
    height:1080px;
    width:1920px;
    padding-top:10px!important;
    position: absolute;
    top:0px;
    left:0px;

}

#heat-title {
    margin: 30px 0 0 150px;
    width: 200px;
}
